.card-img {
  text-align: center;
  background-color: #a3fe92;
  padding: 20px 30px;
  border-radius: 50px;
  .img-container {
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 250px;
    }
  }
}
